/* Default */
table.head, table.foot { width: 100%; }
td.head-rtitle, td.foot-os { text-align: right; }
td.head-vol { text-align: center; }
.Nd, .Bf, .Op { display: inline; }
.Pa, .Ad { font-style: italic; }
.Ms { font-weight: bold; }
.Bl-diag > dt { font-weight: bold; }
code.Nm, .Fl, .Cm, .Ic, code.In, .Fd, .Fn, .Cd { font-weight: bold;
  font-family: inherit; }
.Bd-indent:not(ol,ul) { margin-left: 2.5rem; }

/* Custom */
body {
  font-family: 'Lucida Grande', 'Lucida Sans', Verdana, sans-serif;
  line-height: 1.4;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0.5rem;
  font-size: 1rem;
}

h1 {
  border-bottom: 0.2rem solid;
  padding-bottom: 0.2rem;
}

h1 a, h2 a {
  text-decoration: none;
}

main > h1 {
  margin-bottom: 2rem;
}

h2 {
  font-size: large;
}

nav, main, .head, .manual-text, .foot {
  max-width: 50rem;
  margin: 0 auto;
}

a {
  text-underline-offset: 0.1rem;
}

dd, li {
  margin-bottom: 0.5rem;
}

.whatis {
  list-style: none;
  padding: 0;
}

/** Colors */

html {
  background: #f7f7f7;
}

body {
  color: black;
  background: white;
}

a {
  color: black;
}

@media (prefers-color-scheme: dark) {
  html {
    background: #181818;
  }
  body {
    color: white;
    background: #1c1c1c;
  }
  a {
    color: white;
  }
}
